<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <img class="wave" src="css/wave.png" alt="">
    <div class="container">
        <div class="img">
            <img src="css/sideimg.svg" alt="">
        </div>
        <div class="login-container">
            <form action="/login" class="form-signin" method="post">
                <img class="avatar" src="css/avatar.svg" alt="">
                <h2>Welcome</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class='fas fa-user'></i>
                    </div>
                    <div>
                        <h5>Username</h5>
                        <input class="input" type="email" name="email">
                    </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                        <i class='fas fa-lock'></i>
                    </div>
                    <div>
                        <h5>password</h5>
                        <input class="input" type="password" name="password">
                    </div>
                </div>
                <a href="/register">New Registration ?</a>
                <input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script>
            const inputs = document.querySelectorAll('.input');

            function focusFunc(){
                let parent = this.parentNode.parentNode;
                parent.classList.add('focus');
            }

            function blurFunc(){
                let parent = this.parentNode.parentNode;
                if(this.value == ""){
                    parent.classList.remove('focus');
                }
            }

            inputs.forEach(input =>{
                input.addEventListener('focus',focusFunc);
                input.addEventListener('blur',blurFunc);
            });
    </script>
</body>
</html>